.shop-container {
  color: white;

  text-align: center;
  margin-top: 150px;
  margin-bottom: 200px;
}
.shop-cards {
  display: flex;
  margin-top: 100px;
}
.shop-card {
  border: 3px solid transparent;
  margin: auto 10px;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
  width: 16vw;
}
/* .responsive-img {
  width: 100%;
  height: 100%;
} */
.shop-card h3 {
  display: flex;
  color: #0c1317;
  text-align: center;
  justify-content: center;

  font-size: 1rem;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}
.terahash {
  display: flex;
  color: #0c1317;
  text-align: center;
  justify-content: flex-start;
  padding: 10px;
  margin: auto;
}
.terahash span {
  display: flex;
  margin: auto;
  margin-left: 5px;
  font-size: 0.9rem;
}

.shop-card:hover {
  border: 2px solid #0c1317;
}
.shop-card button {
  margin: auto;
  margin-top: 0px !important;
  margin-bottom: 10px;
}
/* .shop-card: {
  border: 3px solid #36b079;
} */
.shop-container button {
  margin-top: 50px;
  background-color: #36b079;
  border-radius: 15px;
}
.precio-shop {
  background-color: #fff; /* Ajusta el color según tu diseño */
  border: 1px solid #ccc; /* Ajusta el color según tu diseño */
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  transition: color 0.3s ease; /* Transición suave para el cambio de texto */
}

.precio-shop::after {
  content: 'Ver Producto';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
  transition: color 0.3s ease;
}

.precio-shop:hover::after {
  color: white;
}

.precio-shop:hover {
  color: transparent; /* Hace transparente el texto original del botón */
}
.wpp {
  display: flex;
  border-radius: 50px;
}
.whatsapp-button2 {
  background-color: #0c1317;
  border-radius: 50px;
  margin-bottom: 50px;
  font-size: 16px;
}
.whatsapp-button {
  background-color: #36b079;
  border-radius: 50px;
  margin-bottom: 50px;
  font-size: 16px;
}
.floating-whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.floating-whatsapp-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media (max-width: 1350px) {
  .shop-card {
    width: 22vw;
  }
}
@media (max-width: 768px) {
  .shop-card {
    width: 90%;
    margin: 10px auto;
  }
  .shop-cards {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
  }
  .shop-card img {
    width: 35vw;
    height: 15vh;
  }
  .icono-bitcoin {
    width: 25px !important;
    height: 25px !important;
  }
}
