.banner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  padding: 5vh 0;
  margin-top: 100px;
}

.ilustracion-bannerGrande {
  height: 450px;
  width: 750px;
  margin: 0 auto;
  margin-right: -10vw;
  margin-top: 50px;
}

.textosBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.tituloBanner {
  font-family: 'Rouben', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
  background: linear-gradient(225deg, #fff 30%, #36b079 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtituloBanner {
  font-size: 1.25rem;
  color: white;
}

@media (max-width: 1450px) {
  .tituloBanner {
    font-size: 3rem;
  }

  .subtituloBanner {
    font-size: 1rem;
  }
  .ilustracion-bannerGrande {
    margin: 0 auto;
    margin-right: -18vw;
    margin-top: 50px;
  }
}
@media (max-width: 1200px) {
  .ilustracion-bannerGrande {
    margin-right: -25vw;
  }
}

@media (max-width: 768px) {
  .banner-container {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .tituloBanner {
    font-size: 2.5rem;
    margin-top: 20px;
  }

  .subtituloBanner {
    font-size: 1rem;
  }

  .ilustracion-bannerGrande {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: -5px;
    margin-left: 15%;
  }
}
