.banner-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 600px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.ilustracion-bannerGrande {
  display: flex;
  width: 45vw;

  margin-top: 30%;
  margin-bottom: auto;
  margin-left: 20%;
}

.textosBanner {
  justify-content: center;
  align-content: center;
  margin-top: 20%;
  width: 90%;
}

.tituloBanner {
  font-family: rouben;
  font-size: 3.5rem;
  width: 100%;
  font-weight: bold;
  margin-bottom: 3%;
  color: white;
  margin-top: 0%;
  background: linear-gradient(225deg, #fff 30%, #36b079 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtituloBanner {
  font-family: rouben ligth;
  font-size: 20px;
  width: 85%;
  color: white;
}

@media (max-width: 768px) {
  .banner-container {
    grid-template-columns: 1fr;
    height: auto;
  }

  .ilustracion-bannerGrande,
  .textosBanner {
    margin: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .tituloBanner {
    font-size: 2.5rem;
    margin-top: 80px;
    justify-content: center;
    text-align: center;
  }

  .subtituloBanner {
    margin: auto;
    font-size: 1rem;
  }
  .ilustracion-bannerGrande {
    height: auto;
    display: flex;
    width: auto;
    margin: auto;
    transform: none !important;
  }
}
