.prod-feat {
  color: white;
  margin: auto;
  margin-left: 0px;
  text-align: center;
}

.product-card {
  color: rgb(255, 255, 255);
  font-family: rouben;
  margin: auto;
  margin-left: 0px;
  text-align: center;
}
.product-card h1 {
  font-size: 3rem;
  text-align: start;
}
.product-card span {
  display: flex;
  width: 80%;
  margin: auto;
}

.productCard-container {
  display: flex;
  flex-direction: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-bottom: -50px;
}

.productCard-container img {
  margin-top: 90px;
}
.productCard-container span {
  color: rgba(255, 255, 255, 0.744);
  margin-left: 0px;
  text-align: start;
}

.support-form2 textarea {
  display: flex;
  height: 35%;
  width: 87.5%;
  margin: auto;
  background-color: rgba(238, 232, 232, 0.779);
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
}

.support-form2 button {
  display: flex;
  background-color: #36b079;
  margin: auto;
  margin-top: 30px;
}
.support-form2 {
  width: 80vw;
  border-radius: 10px;
  height: 350px;
  margin: auto;
  margin-bottom: 150px;
}
.inputs-container2 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  margin: auto;
}
.inputs-support2 {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  font-family: rouben light;
}
.inputs-support2 input {
  height: 30px;
  background-color: rgba(238, 232, 232, 0.779);
  margin: 2px;
  border-radius: 5px;
  padding: 5px;
}
.inputs-support2 label {
  font-size: 0.9rem;
  margin: 2px;
  color: white;
  font-family: rouben;
}

.title-contactProd {
  color: white;
  font-family: rouben;
  font-size: 2.5rem;
  margin-top: -50px;
}
.span-contactProd {
  color: rgba(255, 255, 255, 0.779);
  margin-bottom: 50px;
}

.schedule-box {
  display: grid;
  grid-template-columns: auto auto;
  width: 70%;
  height: 180px;
  background-color: #0c1317;
  border-radius: 10px;
  margin-bottom: 150px;
}
.schedule-box h2 {
  font-family: rouben;
  color: white;
  width: 70%;
  margin: auto;
  margin-left: 50px;
}
.schedule-box button {
  display: flex;
  margin: auto;
  margin-right: 50px;
  height: 45px;
  background-color: #36b079;
}
.feats-container {
  display: flex;
}
.bitmain-info-container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 150px;
}

.bitmain-info-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.bitmain-info-table {
  width: 100%;
  border-collapse: collapse;
}

.bitmain-info-table th,
.bitmain-info-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.bitmain-info-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
@media (max-width: 1401px) {
  .image-product {
    width: 600px;
    height: 600px;
  }

  .product-card h1 {
    font-size: 2rem;
  }
  .prod-feat h2 {
    font-size: 1.2rem;
  }
  .productCard-container span {
    font-size: 0.9rem;
  }
}
@media (max-width: 1101px) {
  .product-card h1 {
    width: 80%;
  }
  .productCard-container {
    margin-top: 50px;
  }
}
/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
  .product-card h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .product-card {
    margin-bottom: 100px;
  }

  .product-card,
  .productCard-container,
  .support-form2,
  .inputs-container2,
  .inputs-support2 {
    width: 100%;
  }
  .productCard-container {
    flex-direction: column;
  }

  .productCard-container img {
    margin-top: 20px;
    width: 100%;
    height: 40vh;
  }

  .support-form2 textarea {
    width: 95%;
    height: 100px;
  }

  .inputs-container2 {
    grid-template-columns: 1fr;
    padding: 0px;
    margin-top: 30px;
  }

  .title-contactProd {
    font-size: 2rem;
  }

  .schedule-box {
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
    height: 30vh;
    font-size: 0.8rem;
    margin-bottom: 50px;
  }

  .schedule-box h2 {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .schedule-box button {
    margin: auto;
  }
  .prod-feat img {
    height: 30px;
    width: 30px;
  }
  .product-card span {
    display: flex;
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .prod-feat {
    margin-left: auto;
    margin-right: auto;
  }
  .feats-container {
    width: 80%;
    margin: auto;
  }
  .prod-feat h2 {
    font-size: 1rem;
  }
  .span-contactProd {
    display: flex;
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .inputs-support2 input {
    width: 90%;
  }
}
