.cards-landing {
  width: 80%;
  margin-bottom: 100px;
}

.cards-landing h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
  font-family: rouben ligth;
}
.cards-landing p {
  display: flex;
  color: rgba(255, 255, 255, 0.678);
  font-family: rouben;
  text-align: center;
  justify-content: center;
  margin-bottom: -20px;
  margin-top: 100px;
}

.single-card {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.1rem;
  height: 150px;
  width: 15%;
  font-family: rouben ligth;
  margin: auto;
  justify-content: center;
  text-align: center;

  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.264);

  /* background-color: #0c1317; */
  border-radius: 10px;
  padding: 20px;
}
.single-card img {
  display: flex;
  margin: auto;
}

.single-card div {
  color: white;
  font-size: 1.3rem;
  margin: 10px auto;
  font-weight: bold;
}
.single-card span {
  color: rgba(255, 255, 255, 0.707);
  font-size: 0.9rem;
}
