.circle1,
.circle2 {
  width: 30px; /* Ajusta el tamaño según tus preferencias */
  height: 30px; /* Ajusta el tamaño según tus preferencias */
  border-radius: 100%;
  border: 2px solid white;
  cursor: pointer;
}

.circle1 {
  background-color: rgb(221, 171, 107);
}

.circle2 {
  background-color: #83f9c3;
}


















.box-container {
  display: flex;
}



