.contenedor-features2 {
  height: 100%;
  justify-content: center;
  margin: auto 0px;
}

.titulo-asic {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
  color: white;
  opacity: 1;
  font-family: rouben;
  font-size: 3.5rem;
  width: 100%;
  background: linear-gradient(225deg, #fff 40%, #36b079 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: auto;
  animation: fade-in-left 1s forwards 0.5s;
}
.contenedor-flex-only3 {
  display: flex;
  width: 80vw;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 15vh;
}

.button-landing2 {
  display: grid;
  width: 90vw;
  grid-template-columns: 50% 50%;
  justify-content: center;
  text-align: center;
  margin: auto;
  height: 400px;
}

.span-landing-selected2 {
  font-family: rouben;
  color: white;
  font-size: 1.3rem;
  height: 50px !important;
  cursor: pointer;
}
.span-landing2 {
  font-family: rouben ligth;
  color: rgba(255, 255, 255, 0.651);
  font-size: 1.3rem;
  height: 50px !important;

  cursor: pointer;
}

.linea {
  width: 0%;
  height: 2px;

  background-image: none;
  transition: width 0.2s;
}
.linea-selected {
  height: 2px;
  background-color: #fff;
  background-image: none;
  width: 70%;
  margin: auto;
  transition: width 0.5s;
}

.parrafo-features-landing {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.1rem;
  height: auto;
  width: 70%;
  font-family: rouben ligth;
  margin: auto;

  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.264);

  /* background-color: #0c1317; */
  border-radius: 20px;
  padding: 20px;
  animation: fadeInFromRightAnimation 1s ease-in-out;
}
.parrafo-features-landing2 {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.2rem;
  width: 90%;
  font-family: rouben ligth;
  margin: auto;

  /* background-color: #0c1317; */
  border-radius: 20px;
  padding: 20px;
  animation: fadeInFromRightAnimation 1s ease-in-out;
}

.parrafo-features-landing img {
  display: flex;
  margin: auto;
}

@media (max-width: 768px) {
  .button-landing2 {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 650px) {
  .contenedor-mobile-button {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 100px;
    width: 100%;
  }
}
