.navbar {
  position: fixed;
  background: #0c1317d9;
  height: 6vh;
  width: 100%;
  margin: 0 auto; /* Centrar la navbar horizontalmente */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  z-index: 1000;
}

.navbar.sticky {
  width: 100%;
  position: fixed;
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.navbar-logo {
  display: flex;
  align-items: center;
  width: 200px;
}
.navbar-logo2 {
  display: flex;
  align-items: flex-start;
  width: 200px;
  margin-left: 10px;
  margin-right: auto;
  justify-content: flex-start;
}

.nav-items {
  width: 80%;
  margin: 0 auto; /* Centrar la navbar horizontalmente */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.un-contenedor {
  display: flex;
}
.login-register {
  display: flex;
  justify-content: flex-end;
  align-self: center;
}
.nav-title {
  display: flex;
  font-size: 1rem;

  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  padding: 25px 25px;
}
.nav-title:hover {
  color: #36b079;
}

.menu-navbar {
  display: none;
}
.menu-navbar.show {
  display: none;
}

.container-productos {
  display: grid;
  grid-template-columns: auto auto;
  position: fixed;
  padding: 20px;
  align-items: center;
  margin-top: 8rem;
  z-index: 9999;
  height: auto;
  width: auto;
  background: white;
  border-radius: 10px;
  backdrop-filter: blur(0px);
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.container-productos.show {
  transition: opacity 0.4s ease-in-out;
  opacity: 1; /* Change the opacity to 1 to show the element */
  pointer-events: auto;
}

.container-productos.show.sticky {
  margin-top: 8rem;
}

.productos {
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  width: 230px;
}
.productos:hover {
  background: #d3dcd26c;
  cursor: pointer;
}

.descripcion-productos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  margin-left: 10%;
  width: 100%;
}

.titulo-productos {
  margin-bottom: 5%;

  font-size: 1rem;
  color: #0c1317;
}
.titulo-productos:hover {
  color: #36b079;
}

.subtitulo-productos {
  width: 100%;
  font-size: 0.7rem;
  color: #0c1317;
}
.logo-productos {
  height: 50px;
  margin-left: 2%;
}
.producto.show {
  height: 300px;
  background-color: white;
  border-radius: 10px;
  width: 250px;
  margin-left: 10%;
  justify-content: center;
  align-content: center;
  overflow-y: scroll;
}
.noshow {
  display: none;
}

button {
  position: relative;
  padding: 10px 20px;
  border-radius: 4px;
  border: 2px solid rgb(54, 176, 121);
  font-size: 14px;

  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-right: 20px;
  cursor: pointer;
}

button:hover {
  background: rgb(54, 176, 121);
  box-shadow: 0 0 30px 5px rgba(54, 176, 121, 0.515);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.login-navbar {
  display: none;
}
.boton-landing {
  margin-right: 0px;
  background-color: #36b079;
}
.boton-landing1 {
  background-color: #36b079;
}
.downNavbar {
  height: 20px;
  width: 25px;
  margin-left: 10px;
  margin-top: 1.5px;
}
.menuMobileContainer {
  display: none;
}

@media (max-width: 768px) {



  .nav-items.show {
    display: flex;
  }
}


/* Solo mostrar la navbar en pantallas pequeñas */
@media (max-width: 768px) {
  .tabs {
    display: flex;
    flex-direction: column;
  }
  .additionalInfo {
    width: 70vw !important;
  }
  .whatsapp-button {
    display: flex;
    width: 70vw !important;
    margin: auto;
    text-align: center !important;
    justify-content: center;
  }
  .whatsapp-button2 {
    display: flex;
    width: 70vw !important;
    margin: auto;
    text-align: center !important;
    justify-content: center;
  }
  .whatsapp-button3 {
    display: flex;
    width: 50vw !important;
    margin: auto;
    text-align: center !important;
    justify-content: center;
  }

  .navbarMobile {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px 0px;
    background-color: #0c1317;
    color: white;
    width: 100vw;
  }
  .hamburgerMobile {
    display: flex;
    margin: auto;
    margin-top: 15px;
  }
  .logoMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .hamburgerNavbar {
    cursor: pointer;
  }

  .menuNavMobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0c1317;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .items-menu {
    height: 100%;
    width: 100%;
  }
  .close-icon {
    padding: 50px;
    display: flex;
    margin-left: auto;
    margin-bottom: auto;
    margin-left: 65vw;
    width: 100%;
  }

  .menuNavMobile ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    text-align: center;
  }

  .menuNavMobile ul li {
    margin: 20px 0;
  }
  .menuNavMobile span {
    color: rgba(255, 255, 255, 0.594);
    font-size: 18px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.594);
  }

  .menuNavMobile ul li {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
  }
}

/* Ocultar la navbar en pantallas grandes */
@media (min-width: 769px) {
  .navbarMobile,
  .menu {
    display: none;
  }
}
