.box-hosting {
  display: flex;
  height: 150px;
  width: 200px;
  background-color: #0c1317;
  border-radius: 5px;
  font-family: rouben;
}
.box-hosting span {
  display: flex;
  color: white;
  font-size: 2.5rem;
  margin: auto;
}
.span-hosting {
  color: white;
  font-family: rouben;
}
.title-hosting {
  display: flex;
  color: white;
  font-family: rouben;
  margin-top: 150px;
}

@media (max-width: 768px) {
  .title-hosting {
    display: flex;
    font-size: 2rem;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .box-hosting {
    margin-bottom: 10px;
  }
}
