.sideNavbar {
  min-height: 110vh;
  height: 100%;

  position: fixed;
  top: 0;
  width: 250px;
  background-color: #0c1317;
  z-index: 10;
}

.icon-mostrar {
  height: 30px;
  margin-left: -10px;
}
.no-visible {
  display: none;
}

.sideNavbar-li {
  display: flex;
  align-items: center;
  list-style-type: none;

  padding: 5px 5px;
  width: 90%;
  height: 40px;
  margin-left: 10px !important;
  margin-right: 0 !important;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
}
.sideNavbar-li:hover {
  background-color: #36b079;

  font-weight: 100;
}
.icon-sideNavbarAsicHosting {
  display: flex;
  margin-left: 10px;

  margin-right: 32px;
  height: 20px;
}
.icon-sideNavbar {
  height: 25px;
  margin-right: 15px;
  margin-left: 5px;
}
.icon-sideNavbar2 {
  height: 25px;
  margin-right: 15px;
  margin-left: 5px;
}

.titulo-servicios-sidenavbar {
  color: white;

  font-size: 0.8rem;
  letter-spacing: 1.5px;

  font-weight: lighter;
  cursor: default;
  margin-left: 18px !important;
}

.footer-sidebar {
  display: flex;
  flex-direction: column;
  color: white;
}
.footer-sidebar span {
  margin: 20px;
  cursor: pointer;
}
.footer-sidebar span:hover {
  letter-spacing: 1px;
}

.titulo-servicios-sidenavbar:hover {
  color: white;
  font-weight: lighter;
  cursor: default;
}
.icono-sideBar-grid {
  height: 55px;
  width: 165px;
  margin-top: 10%;
  margin-left: 22px;
  margin-bottom: 5vh;
}

.new-button {
  margin-top: auto;
  width: 100px;
  height: 40px;
  margin-left: 10px;
}
.logout-sidebar {
  position: relative;
  padding: 10px 20px;
  border-radius: 4px;
  border: 2px solid rgb(54, 176, 121);
  font-size: 14px;

  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 40px;
  border-radius: 15px;
}
.logout-sidebar:hover {
  background: rgb(54, 176, 121);
  box-shadow: 0 0 30px 5px rgba(54, 176, 121, 0.515);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.titulos-home {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 0.8rem;
  letter-spacing: 1.5px;
  color: white;
  border-bottom: 1px solid white;
  margin-left: 280px;
  width: 80vw;
}

.titulos-home span {
  display: flex;
  width: 8vw;

  box-sizing: border-box;

  padding: 5px;
  margin: 5px;
}
.grid-components {
  display: flex;
  margin-top: 10vh;
  justify-content: space-between;
  width: 80%;
}
.ComponentCard {
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.185);
  width: 95%;
}
.first {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.628);
  font-size: 0.9rem;
}
.second {
  display: flex;
  color: white;

  width: 85%;
  margin: auto;
}
.second img {
  margin-top: auto;
  margin-bottom: auto;
}
.second h3 {
  margin-right: 5%;
}
.third {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 0.9rem;
  width: 85%;
  margin: auto;
}
.third span,
.fourth span {
  font-weight: bold;
  display: flex;
  margin-top: 3px;
  margin-bottom: 3px;
  letter-spacing: 0.5px;
}
.third p,
.fourth p {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: lighter;
  margin-left: 5px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.738);
}

.fourth {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 0.9rem;
  width: 93%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.fourth span {
  display: flex;
  margin-left: auto;
}
